/* #Forms
================================================== */
input {
  border: none;
  outline: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  background: #fff;
  padding: 10px;
  width: 140px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; }

input.two {
  padding: 10px;
  width: 340px;
  margin-bottom: 10px; }

input.qua {
  padding: 10px;
  width: 240px;
  margin-bottom: 10px; }

.one input.full {
  width: 140px; }

.two input.full {
  width: 340px; }

.thr input.full {
  width: 540px; }

.fou input.full {
  width: 740px; }

.fiv input.full {
  width: 940px; }

.six input.full {
  width: 1140px; }

/* #Buttons
================================================== */
button, .button {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
  line-height: 34px;
  padding: 0 10px;
  border: solid 1px black;
  background-color: #000;
  height: 34px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

button.hollred, .button.hollred {
  color: #ff484f;
  background-color: transparent;
  border-color: #ff484f; }

button.hollred:hover, .button.hollred:hover {
  color: #fff;
  background-color: #ff484f;
  border-color: #ff484f; }

button.callred, .button.callred {
  color: #fff;
  background-color: #ff484f;
  border-color: #ff484f; }

button.callred:hover, .button.callred:hover {
  color: #fff;
  background-color: #fe161f;
  border-color: #fe161f; }

button.hollsea, .button.hollsea {
  color: #00d8d5;
  background-color: transparent;
  border-color: #00d8d5; }

button.hollsea:hover, .button.hollsea:hover {
  color: #fff;
  background-color: #00d8d5;
  border-color: #00d8d5; }

button.callsea, .button.callsea {
  color: #fff;
  background-color: #00d8d5;
  border-color: #00d8d5; }

button.callsea:hover, .button.callsea:hover {
  color: #fff;
  background-color: #00e4e4;
  border-color: #00e4e4; }

button.hollgrape, .button.hollgrape {
  color: #392771;
  background-color: transparent;
  border-color: #392771; }

button.hollgrape:hover, .button.hollgrape:hover {
  color: #fff;
  background-color: #392771;
  border-color: #392771; }

button.callgrape, .button.callgrape {
  color: #fff;
  background-color: #392771;
  border-color: #392771; }

button.callgrape:hover, .button.callgrape:hover {
  color: #fff;
  background-color: #2c156f;
  border-color: #2c156f; }

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .con {
    width: 1020px; }
  .col {
    float: left;
    display: inline-block;
    margin: 0 10px; }
  .one {
    width: 150px; }
  .two {
    width: 320px; }
  .thr {
    width: 490px; }
  .fou {
    width: 660px; }
  .fiv {
    width: 830px; }
  .six {
    width: 1000px; }
  .qua {
    width: 235px; } }

@media screen and (min-width: 960px) and (max-width: 1020px) {
  .con {
    width: 960px; }
  .col {
    float: left;
    display: inline-block;
    margin: 0 5px; }
  .eight {
    width: 900px; }
  .one {
    width: 150px; }
  .two {
    width: 310px; }
  .thr {
    width: 470px; }
  .fou {
    width: 630px; }
  .fiv {
    width: 790px; }
  .six {
    width: 950px; }
  .qua {
    width: 230px; } }

/*Medium*/
@media screen and (min-width: 768px) and (max-width: 960px) {
  .con {
    width: 768px; }
  .col {
    float: left;
    display: inline-block;
    margin: 0 5px; }
  .one, .two, .thr, .qua {
    width: 374px; }
  .fou, .fiv, .six {
    width: 758px; }
  .mone {
    width: 118px; }
  .mtwo {
    width: 246px; }
  .mthr {
    width: 374px; }
  .mfou {
    width: 502px; }
  .mfiv {
    width: 630px; }
  .msix {
    width: 758px; }
  .mqua {
    width: 182px; } }

@media screen and (min-width: 600px) and (max-width: 768px) {
  .con {
    width: 600px; }
  .col {
    float: left;
    display: inline-block;
    margin: 0 5px; }
  .one, .two, .thr, .qua {
    width: 290px; }
  .fou, .fiv, .six {
    width: 590px; }
  .mone {
    width: 90px; }
  .mtwo {
    width: 190px; }
  .mthr {
    width: 290px; }
  .mfou {
    width: 390px; }
  .mfiv {
    width: 490px; }
  .msix {
    width: 590px; }
  .mqua {
    width: 140px; } }

@media screen and (min-width: 480px) and (max-width: 600px) {
  .con {
    width: 480px; }
  .col {
    float: left;
    display: inline-block;
    margin: 0 5px; }
  .one, .two, .thr, .qua {
    width: 230px; }
  .fou, .fiv, .six {
    width: 470px; }
  .mone {
    width: 70px; }
  .mtwo {
    width: 150px; }
  .mthr {
    width: 230px; }
  .mfou {
    width: 310px; }
  .mfiv {
    width: 390px; }
  .msix {
    width: 470px; }
  .mqua {
    width: 110px; } }

/*Small*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .con {
    width: 320px; }
  .col {
    float: left;
    display: inline-block;
    margin: 0 5px; }
  .one, .two, .thr, .qua, .fou, .fiv, .six {
    width: 310px; }
  .sone {
    width: 43.33333px; }
  .stwo {
    width: 96.66667px; }
  .sthr {
    width: 150px; }
  .sfou {
    width: 203.33333px; }
  .sfiv {
    width: 256.66667px; }
  .ssix {
    width: 310px; }
  .squa {
    width: 70px; } }

@media screen and (max-width: 240px) {
  .con {
    width: 240px; }
  .col {
    float: left;
    display: inline-block;
    margin: 0 5px; }
  .one, .two, .thr, .qua, .fou, .fiv, .six {
    width: 230px; }
  .sone {
    width: 30px; }
  .stwo {
    width: 70px; }
  .sthr {
    width: 110px; }
  .sfou {
    width: 150px; }
  .sfiv {
    width: 190px; }
  .ssix {
    width: 230px; }
  .squa {
    width: 50px; } }
