.con{
  width: 1200px;
  margin: 0px auto;
  position: relative;
  clear: both;}
.col{
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;}
.cola{
  margin-left: 0px;}
.colo{
  margin-right: 0px; }
.one {
  width: 80px;}
.two {
  width: 180px;}
.thr {
  width: 280px;}
.fou {
  width: 380px;}
.fiv {
  width: 480px;}
.six {
  width: 580px;}
.sev {
  width: 680px;}
.eig {
  width: 780px;}
.nin {
  width: 880px;}
.ten {
  width: 980px;}
.ele {
  width: 1080px;}
.twe {
  width: 1180px;}


@media screen and (min-width: 960px) and (max-width: 1024px) {}

@media screen and (min-width: 620px) and (max-width: 960px) {}

@media screen and (min-width: 480px) and (max-width: 620px) {}

@media screen and (max-width: 480px) { }
