.con{
  width: 1200px;
  margin: 0px auto;
  position: relative;
  clear: both;}
.col{
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;}
.cola{
  margin-left: 0px;}
.colo{
  margin-right: 0px; }

.one {
  width: 80px; }

.two {
  width: 180px; }

.three {
  width: 280px; }

.four {
  width: 380px; }

.five {
  width: 480px; }

.six {
  width: 580px; }

.seven {
  width: 680px; }

.eight {
  width: 780px; }

.nine {
  width: 880px; }

.ten {
  width: 980px; }

.eleven {
  width: 1080px; }

.twelve {
  width: 1180px; }


@media screen and (min-width: 960px) and (max-width: 1024px) {}

@media screen and (min-width: 620px) and (max-width: 960px) {}

@media screen and (min-width: 480px) and (max-width: 620px) {}

@media screen and (max-width: 480px) { }
